<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<h3>
				h3. 这是一套可视化布局系统.
			</h3>
		</div>
		<div class="span6">
			<form class="form-search">
				<input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>
			</form>
		</div>
		<div class="span4">
			 <button class="btn btn-link btn-block" type="button">按钮</button>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span6">
			<div class="row-fluid">
				<div class="span12">
					 <button class="btn btn-link" type="button">按钮</button>
					<div class="hero-unit">
						<p>
							这是一个可视化布局模板, 你可以点击模板里的文字进行修改, 也可以通过点击弹出的编辑框进行富文本修改. 拖动区块能实现排序.
						</p>
						
					</div> <address><strong>www.google.com</strong></address>
				</div>
			</div>
		</div>
		<div class="span4">
		</div>
	</div>
</div>
