
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>首页</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/search.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
</head>

<body>

<div class="container-fluid">

	<div class="row head-pad left-pad">

			<div class="col-xs-12 col-md-8">
				<div class="input-group col-md-offset-1 col-md-8">
					<input type="text" class="form-control input-lg">
					<span class="input-group-addon btn btn-primary">搜索</span>
				</div>
			</div>

			<div class="col-xs-6 col-md-4 text-right">
				<button class="btn btn-link" type="button">登录</button>
			</div>

	</div>

	<div class="row br-pad">
		<br/>
	</div>

	<div id="search-result">
		<div class="row left-pad">
			<div class="col-xs-12 col-md-8">
				<div class="input-group col-md-offset-1 col-md-10">
					<div class="hero-unit">
						<h3>
							<u style="cursor:pointer">搜索结果1</u>
						</h3>
						<p class="result-content">
							这是一个可视化布局模板, 你可以点击模板里的文字进行修改, 也可以通过点击弹出的编辑框进行富文本修改. 拖动区块能实现排序.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row left-pad">
			<div class="col-xs-12 col-md-8">
				<div class="input-group col-md-offset-1 col-md-10">
					<div class="hero-unit">
						<h3>
							<u style="cursor:pointer">搜索结果1</u>
						</h3>
						<p class="result-content">
							这是一个可视化布局模板, 你可以点击模板里的文字进行修改, 也可以通过点击弹出的编辑框进行富文本修改. 拖动区块能实现排序.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="page-div" class="row page-pad">
		<ul class="pager col-md-offset-2 col-md-8">
			<li><a href="#">&larr;上一页</a></li>
			<li><a href="#">下一页&rarr;</a></li>
		</ul>
	</div>

</div>
<script type="text/javascript" src="../../js/jquery.min.js" ></script>
<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
</body>

</html>
