.left-pad{
    margin-left: 20px;
}

.head-pad{
	margin-top:  30px;
}

.br-pad{
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 20px;
}
.page-pad{
    margin-top: 30px;
}
/*.result-content{*/
	/*font-size: 14px;*/
	/*line-height: 20px;*/
/*}*/
/*.hero-unit{*/
	/*padding: 0px;*/
	/*background: white;*/
	/*margin: 0;*/
/*}*/
/*.hero-unit *{*/
	/*margin: 0;*/
/*}*/