.left-pad{
    margin-left: 20px;
}

.head-pad{
	margin-top:  30px;
}

.br-pad{
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 20px;
}
.page-pad{
    margin-top: 30px;
}
.btn:focus,.btn:active:focus {
    outline: none;
    border-color: transparent;
    box-shadow:none;
}